* {
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.svg");

  background-color: rgb(3, 1, 7);
  min-height: 100vw;
  overflow: hidden;
  font-display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


/***IMAGE SHOWS FULLY IN PORTRAIT MODE ON MOBILE***/
@media only screen and (max-width: 700px) {
  body {
    background-image: url("./img/background.svg");
    background-position-x: -300px;
    background-position-y: -50px;
  }
}


#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.circle {
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 180px;
  left: -10px;
  background: rgb(14, 8, 27);

}


/**OPEN IN CHROME TO SE conic-gradient**/

.gradient-circle {
  position: absolute;
  z-index: -2;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  top: 170px;
  left: -20px;
  background-color: rgb(147, 126, 161);
  background: conic-gradient(#1e0452 10%,
      #2705e9 30%,
      #f6f5f8 50%,
      #311d5f 75%,
      #4a19a5 100%);
}

#pointer-container {
 position: absolute;
 width: 20px;
 height: 200px;
 margin-top: 200px;
 margin-left: 25px;
 animation: rotate 9s linear forwards infinite;
 transform-origin: bottom;
 
 
  

}

.pointer {
  background-color: rgb(10, 10, 175);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgb(179, 154, 182);
 
 
}

p {
  font-size: 2rem;
  color: beige;
 margin-top: 435px;
 margin-left: 25px;

}

.rotate {
  animation: rotate 8s linear forwards infinite;

}

.grow {
  animation: grow 3.4s linear forwards;
}

.shrink {
  animation: shrink 4s linear forwards;
}



/**ANIMATIONS**/


@keyframes rotate {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}

@keyframes grow {
  from {
    transform: scale(1);

  }

  to {
    transform: scale(1.2);

  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);

  }

  to {
    transform: scale(1);

  }
}