@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&family=Epilogue:wght@200&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-image: url("./img/background.svg");
  background-color: rgb(3, 1, 7);
  min-height: 100vw;
  overflow: hidden;
  font-display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


/***IMAGE SHOWS FULLY IN PORTRAIT MODE ON MOBILE***/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-image: url("./img/background.svg");
    background-position-x: -400px;
    background-position-y: -10px;
  }


  .circle {
    max-width: 200px;
    max-height: 200px;
    margin-left: 50px !important;
    margin-top: 130px !important;


  }

  .gradient-circle {
    max-height: 220px;
    max-width: 220px;
    margin-left: 40px !important;
    margin-top: 120px !important;
  }


  #pointer-container {
    max-width: 10px;
    max-height: 130px;
    margin-top: 100px !important;

  }

  p {
    font-size: 2rem !important;
    margin-left: 40px !important;
    margin-top: 210px !important;

  }

}

@media only screen and (max-width : 321px) {

  .circle {
    margin-top: -20px !important;

  }

}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.circle {
  grid-area: 1/1/2/2;
  z-index: -1;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-top: 180px;
  margin-left: -20px;
  background: rgb(14, 8, 27);

}



/**OPEN IN CHROME TO SE conic-gradient**/

.gradient-circle {
  grid-area: 1/1/2/2;
  z-index: -2;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  margin-top: 170px;
  margin-left: -30px;
  background-color: rgb(147, 126, 161);
  background: conic-gradient(#1e0452 10%,
      #2705e9 30%,
      #f6f5f8 50%,
      #311d5f 75%,
      #4a19a5 100%);
}

#pointer-container {
  grid-area: 1/1/2/2;
  width: 20px;
  height: 200px;
  margin-top: 150px;
  margin-left: 145px;
  animation: rotate 9s linear forwards infinite;
  transform-origin: bottom;

}

.pointer {
  background-color: rgb(10, 10, 175);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgb(179, 154, 182);


}

p {
  grid-area: 1/1/2/2;
  font-size: 3rem;
  color: beige;
  text-align: center;
  margin-left: -20px;
  margin-top: 325px;


}

.rotate {
  animation: rotate 9s linear forwards infinite;

}

.grow {
  animation: grow 3.4s linear forwards;
}

.shrink {
  animation: shrink 4s linear forwards;
}



/**ANIMATIONS**/


@keyframes rotate {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}

@keyframes grow {
  from {
    transform: scale(1);

  }

  to {
    transform: scale(1.2);

  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);

  }

  to {
    transform: scale(1);

  }
}